*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-text-size-adjust: 100%;
}

*[hidden] {
  display: none!important;
}

a,
address,
b,
blockquote,
body,
button,
dd,
div,
dl,
dt,
em,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
hr,
html,
i,
input,
ins,
legend,
li,
mark,
menu,
ol,
p,
strong,
td,
textarea,
th,
var,
video,
ul {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-size: 1em;
  font-style: normal;
  font-weight: inherit;
  font-family: inherit;
  text-align: inherit;
  color: inherit;
}

button,
fieldset,
hr,
img,
input,
textarea {
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  border: 0;
}

footer,
header,
main {
  display: block;
}

li {
  list-style: none;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body > svg {
  position: absolute;
}

button {
  overflow: visible;
  cursor: pointer;
}

button,
input,
textarea {
  line-height: inherit;
}

a[href^="mailto:"] {
  white-space: nowrap;
}

b {
  font-weight: 700;
}

p {
  margin: 1em 0;
}

table {
  margin: 1em 0;
}

p:last-child,
table:last-child {
  margin-bottom: 0!important;
}

video,
img {
  max-width: 100%;
  height: auto;
}

figure p {
  margin: 0!important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
          appearance: none;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

::selection {
  background-color: rgba(0, 68, 130, 0.3);
  color: #000;
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000;
  background-color: #fff;
  min-width: 320px;
}

/* Наследуем шрифты для инпутов и кнопок */

textarea {
  resize: none;
}

input,
textarea {
  field-sizing: content;
}

.accent {
  color: #004482;
}

.bg-accent {
  color: #fff;
  background-color: #004482;
}

.m-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}

.tac {
  text-align: center;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */

*:focus:not(:focus-visible) {
  outline: none !important;
}

input[type='submit'] {
  -webkit-appearance: none;
  appearance: none;
}

.logo {
  display: flex;
  gap: 14px;
  align-items: center;
}

.logo .custom-logo {
  width: 85px;
  height: auto;
}

.logo .custom-logo-link {
  flex-shrink: 0;
}

.logo__text {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
}

.btn {
  display: inline-block;
  padding: 25px 33px;
  max-width: 100%;
  color: #fff;
  background-color: #004482;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  border: 2px solid #004482;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #004482;
  background-color: #fff;
}

.btn-o {
  color: #004482;
  background-color: #fff;
}

.btn-o:hover,
.btn-o:active,
.btn-o:focus {
  color: #fff;
  background-color: #004482;
  border-color: #fff;
}

.burger {
  display: none;
  position: relative;
  z-index: 23;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  padding: 5px;
  border-radius: 10px;
  background-color: #004482;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.burger:focus {
  outline: none;
}

.burger > span {
  display: inline-block;
  width: 20px;
  height: 1px;
  background: #E5FAFE;
  position: relative;
  transition: background 0.5s 0.5s;
}

.burger > span:before,
.burger > span:after {
  content: '';
  position: absolute;
  left: 0;
  height: 1px;
  background: #E5FAFE;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s 0.5s, transform 0.5s;
  transition: top 0.5s 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.burger > span:before {
  width: 100%;
  top: -5px;
}

.burger > span:after {
  width: 100%;
  top: 5px;
}

.burger-close {
  position: relative;
}

.burger-close > span {
  transition: background 0.5s;
  background: transparent;
}

.burger-close > span:before,
.burger-close > span:after {
  width: 100%;
  transition: top 0.5s, -webkit-transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  top: 0;
}

.burger-close > span:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}

.burger-close > span:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}

#breadcrumbs {
  margin-top: 26px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: #719FA8;
}

#breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumb_last {
  color: #000;
}

.card {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 34px 34px 36px;
  border: 1px solid #B0B0B0;
  border-radius: 30px;
  transition: box-shadow 0.5s ease;
}

.card:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}

.card__img {
  width: 100%;
  height: 284px;
  border-radius: 20px;
}

.card__img img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.card time {
  display: inline-block;
  margin-top: 29px;
  font-size: 20px;
  font-weight: 500;
  color: #979AA6;
}

.card__title {
  margin-top: 17px;
  font-size: 32px;
  font-weight: 700;
}

.card__descr {
  margin-top: 14px;
  font-size: 24px;
  font-weight: 500;
}

.card .btn {
  margin-top: 27px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.cards-2 .card {
  width: calc(50% - 30px);
}

.header {
  border-bottom: 1px solid #B0B0B0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btn {
  padding: 19px 25px;
  font-size: 18px;
}

.header__menu ul {
  display: flex;
  align-items: center;
}

.header__menu a {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 50px 23px;
  transition: color 0.5s ease;
}

.header__menu a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  top: 0;
  left: 0;
  border-radius: 2px;
  background-color: #004482;
  visibility: hidden;
  transition: all 0.5s ease-in-out 0s;
}

.header__menu a:hover,
.header__menu a:active,
.header__menu a:focus {
  color: #004482;
}

.header__more {
  display: flex;
  gap: 10px;
  align-items: stretch;
  margin-left: auto;
}

.header__more select {
  padding: 12px;
  padding-right: 43px;
  background: #E5FAFE url(../img/arrow-down-ac.svg) no-repeat 80% center;
  border: none;
  outline: none;
  border-radius: 10px;
  max-width: 89px;
}

.header__nav a:hover:before,
.header__nav li:hover > a:before,
.header__nav .active:before {
  visibility: visible;
  width: 100%;
}

.header .burger {
  margin-left: 7px;
}

.header .logo {
  margin-right: auto;
}

.index {
  padding: 100px 0;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.index .page__h1 {
  margin-bottom: 20px;
}

.index li {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 10px;
}

.index a {
  font-size: 18px;
}

.index a:hover {
  text-decoration: underline;
}

.home .how {
  padding-bottom: 35px;
}

.home .what {
  padding: 60px 0;
}

.home .what__content {
  padding: 0;
}

.home .what .page__h1 {
  margin-bottom: 10px;
}

.home .prescribing {
  padding-top: 43px;
  padding-bottom: 60px;
}

.home .prescribing .page__lead {
  max-width: 1017px;
}

.home .press__cards {
  padding-top: 45px;
  padding-bottom: 39px;
}

.home .press__cards .card__descr {
  margin-top: 23px;
  font-size: 24px;
}

.home .press__cards-home-bottom {
  padding-top: 60px;
  padding-bottom: 68px;
}

.home .press__cards-home-bottom .page__h1 {
  margin-bottom: 38px;
  text-align: center;
}

.page__hero {
  padding-bottom: 55px;
  border-bottom: 1px solid #B0B0B0;
}

.page__hero .btn {
  margin-top: 30px;
}

.page__h1 {
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.4;
}

.page__h1 span {
  color: #004482;
}

.page__lead {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 85%;
}

.page .page__lead {
  margin: 0;
  margin-top: 19px;
}

.page .btn {
  margin-top: 30px;
}

.page__contacts {
  margin-top: 15px;
  font-size: 32px;
  font-weight: 500;
}

.page__contacts a {
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  display: inline-block;
  padding-left: 46px;
  transition: color 0.5s ease;
}

.page__contacts a:hover {
  color: #004482;
}

.page__contacts a::before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  margin-top: 6px;
}

.page__tel {
  margin-right: 29px;
}

.page__tel::before {
  background: url(../img/phone.svg) no-repeat center / contain;
}

.page__mail::before {
  background: url(../img/mail.svg) no-repeat center / contain;
}

.how {
  padding-top: 60px;
  padding-bottom: 55px;
  border-bottom: 1px solid #B0B0B0;
}

.how .page__h1 {
  margin-bottom: 25px;
  text-align: center;
}

.how__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
}

.how__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  margin-bottom: 25px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #004482;
}

.how__item img {
  display: block;
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.how__text {
  text-align: center;
}

.how__title {
  margin-bottom: 15px;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.2;
}

.how__descr {
  font-size: 20px;
  line-height: 1.4;
}

.what__content {
  padding: 54px 58px 60px;
  border-radius: 50px;
  border-bottom-right-radius: 0;
}

.what__subtitle {
  margin-bottom: 56px;
  font-size: 24px;
  font-weight: 500;
}

.what__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  align-items: stretch;
}

.what__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.what__item picture {
  width: 62px;
  height: 62px;
}

.what__title {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
}

.what__descr {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.what .btn {
  margin-top: 33px;
}

.call {
  padding: 60px 0;
  border-top: 1px solid #B0B0B0;
}

.call .page__h1 {
  margin-bottom: 14px;
}

.call__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  align-items: center;
}

.call__img {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.call__img img {
  width: 300px;
}

.call__text {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666666666667% - 30px);
}

.about .page__hero {
  border-bottom: none;
}

.articles {
  padding-bottom: 64px;
}

.articles .page__h1 {
  margin-top: 15px;
  margin-bottom: 32px;
}

.articles .card {
  margin-bottom: 30px;
}

.articles__more {
  display: block;
  width: 224px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
}

.investor .page__lead {
  margin: 0;
  margin-top: 19px;
}

.partners {
  padding-top: 32px;
}

.partners .page__h1 {
  margin-bottom: 30px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.partners__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  margin-bottom: 8px;
  padding: 10px;
  min-height: 163px;
  border: 1px solid #B0B0B0;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  transition: box-shadow 0.5s ease;
}

.partners__item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__item img {
  max-width: 250px;
}

.partners__item:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}

.faq {
  padding-top: 54px;
  padding-bottom: 51px;
}

.faq__item {
  margin-bottom: 15px;
}

.faq .question {
  position: relative;
  padding: 25px 30px;
  padding-right: 64px;
  font-size: 20px;
  line-height: 1;
  border: 1px solid #B0B0B0;
  border-radius: 15px;
  transition: background-color 0.5s ease;
}

.faq .question:hover {
  cursor: pointer;
}

.faq .question::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 25px;
  top: 50%;
  margin-top: -12px;
  background: url(../img/arrow-down-ac.svg) no-repeat center;
}

.faq .question.active {
  color: #E5FAFE;
  background-color: #004482;
}

.faq .question.active::after {
  background: url(../img/arrow-down-e5.svg) no-repeat center;
}

.faq .answer {
  display: none;
  padding: 15px 30px 6px;
  font-size: 20px;
  line-height: 1.4;
}

.press__hero .page__h1 {
  margin-bottom: 19px;
}

.press__cards {
  padding-top: 41px;
  padding-bottom: 30px;
}

.press__cards .page__h1 {
  margin-bottom: 28px;
}

.renew .how {
  padding-top: 59px;
  padding-bottom: 13px;
}

.renew .how .page__h1 {
  margin-bottom: 49px;
}

.renew .how .page__h1 span {
  display: block;
}

.renew .faq {
  padding-top: 48px;
  padding-bottom: 60px;
}

.renew .faq .page__h1 {
  margin-bottom: 25px;
}

.prescribing {
  padding: 60px 0;
  border-bottom: 1px solid #B0B0B0;
}

.prescribing .page__h1 {
  margin-bottom: 10px;
}

.prescribing .page__lead {
  margin-bottom: 30px;
}

.care .page__hero {
  border-bottom: none;
}

.care .what {
  background-color: #fff;
}

.footer {
  padding-top: 50px;
  padding-bottom: 65px;
  color: #fff;
  background-color: #232323;
}

.footer .logo img {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}

.footer__content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__left {
  width: 350px;
}

.footer__links {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 16px;
  color: #ADADAD;
}

.footer__right {
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.footer__title {
  margin-bottom: 19px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
}

.footer__nav {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 27px;
}

.footer__nav:last-child {
  width: calc(50% - 30px);
}

.footer__menu {
  font-size: 18px;
}

.footer__menu li + li {
  margin-top: 15px;
}

.footer__contacts {
  font-size: 18px;
  line-height: 1.8;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .logo {
    gap: 6px;
  }

  .logo .custom-logo {
    width: 55px;
  }

  .logo__text {
    font-size: 18px;
  }

  .burger {
    display: flex;
  }

  .cards-2 .card {
    width: calc(100% - 30px);
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header__btn {
    font-size: 14px;
    padding: 13px 18px;
  }

  .header__menu {
    display: none;
  }

  .header__more {
    display: none;
  }

  .home .prescribing .page__lead {
    max-width: 100%;
  }

  .how__item {
    width: calc(50% - 30px);
  }

  .what__item {
    width: calc(50% - 30px);
  }

  .partners__item {
    width: calc(50% - 30px);
  }

  .footer__links {
    bottom: -27px;
    font-size: 14px;
  }

  .footer__title {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .footer__nav {
    width: calc(50% - 30px);
  }

  .footer__nav:last-child {
    width: calc(100% - 30px);
  }

  .footer__menu {
    font-size: 14px;
  }

  .footer__menu li + li {
    margin-top: 5px;
  }

  .footer__contacts {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .btn {
    font-size: 14px;
    padding: 12px 18px;
  }

  #breadcrumbs {
    margin-top: 25px;
    margin-bottom: 13px;
    font-size: 14px;
  }

  .card {
    margin-bottom: 10px;
    padding: 15px;
  }

  .card__img {
    height: 187px;
  }

  .card time {
    margin-top: 15px;
    font-size: 14px;
  }

  .card__title {
    margin-top: 15px;
    font-size: 18px;
  }

  .card__descr {
    margin-top: 5px;
    font-size: 14px;
  }

  .card .btn {
    margin-top: 15px;
    width: 100%;
  }

  .home .how {
    padding-top: 34px;
    padding-bottom: 18px;
  }

  .home .what {
    padding-top: 36px;
    padding-bottom: 45px;
  }

  .home .what .page__h1 {
    margin-bottom: 6px;
  }

  .home .prescribing {
    padding-top: 26px;
    padding-bottom: 36px;
  }

  .home .press__cards {
    padding-top: 27px;
  }

  .home .press__cards .card {
    margin-bottom: 15px;
  }

  .home .press__cards .card__descr {
    margin-top: 15px;
    font-size: 14px;
  }

  .home .press__cards-home-bottom {
    padding: 35px 0;
  }

  .home .press__cards-home-bottom .page__h1 {
    margin-bottom: 20px;
  }

  .home .press__cards-home-bottom .card {
    margin-bottom: 15px;
  }

  .page__hero {
    padding-bottom: 36px;
  }

  .page__hero .btn {
    margin-top: 17px;
    width: 100%;
  }

  .page__h1 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
  }

  .page__lead {
    max-width: 100%;
    font-size: 14px;
  }

  .page .page__lead {
    margin-top: 13px;
  }

  .page .btn {
    margin-top: 17px;
    width: 100%;
  }

  .page__contacts {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
  }

  .page__contacts a {
    padding-left: 31px;
  }

  .page__contacts a::before {
    margin-top: 3px;
    width: 24px;
    height: 24px;
  }

  .how {
    padding: 30px 0;
  }

  .how__item {
    width: calc(100% - 30px);
  }

  .how__item {
    flex-direction: row;
    align-items: center;
  }

  .how__item img {
    width: 90px;
    height: 90px;
    margin-bottom: 0;
    margin-right: 13px;
  }

  .how__text {
    text-align: left;
  }

  .how__title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
  }

  .how__descr {
    font-size: 14px;
  }

  .what__content {
    padding: 36px 0 45px;
  }

  .what .page__h1 {
    margin-bottom: 27px;
  }

  .what__subtitle {
    margin-bottom: 24px;
    font-size: 14px;
  }

  .what__item {
    width: calc(100% - 30px);
  }

  .what__item {
    flex-direction: row;
    text-align: left;
  }

  .what__item picture {
    margin-right: 17px;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }

  .what__title {
    margin-top: 0;
    font-size: 18px;
    font-weight: 700;
  }

  .what__descr {
    margin-top: 5px;
    font-size: 14px;
  }

  .what .btn {
    margin-top: 7px;
  }

  .call {
    padding-top: 56px;
    padding-bottom: 50px;
    text-align: center;
  }

  .call__img {
    width: calc(100% - 30px);
  }

  .call__img img {
    width: 130px;
  }

  .call__text {
    width: calc(100% - 30px);
  }

  .call__text {
    margin-top: 19px;
  }

  .articles {
    padding-bottom: 55px;
  }

  .articles .page__h1 {
    margin-top: 13px;
    margin-bottom: 20px;
  }

  .articles .card {
    margin-bottom: 15px;
  }

  .articles__more {
    margin-top: 20px;
    width: 100%;
  }

  .investor .page__lead {
    margin-top: 13px;
  }

  .partners {
    padding-top: 19px;
  }

  .partners .page__h1 {
    margin-bottom: 19px;
  }

  .partners__item {
    width: calc(100% - 30px);
  }

  .partners__item {
    min-height: 118px;
  }

  .faq {
    padding-top: 23px;
    padding-bottom: 37px;
  }

  .faq .question {
    padding: 15px 20px;
    padding-right: 54px;
    font-size: 14px;
  }

  .faq .answer {
    padding: 10px 30px;
    font-size: 14px;
  }

  .press__hero .page__h1 {
    margin-bottom: 13px;
  }

  .press__cards {
    padding-top: 33px;
    padding-bottom: 35px;
  }

  .press__cards .page__h1 {
    margin-bottom: 13px;
  }

  .renew .how {
    padding-top: 30px;
    padding-bottom: 5px;
  }

  .renew .how .page__h1 {
    margin-bottom: 25px;
  }

  .renew .how .page__h1 span {
    display: inline;
  }

  .renew .faq {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .renew .faq .page__h1 {
    margin-bottom: 20px;
  }

  .prescribing {
    padding-top: 32px;
    padding-bottom: 46px;
  }

  .prescribing .page__h1 {
    margin-bottom: 13px;
  }

  .prescribing .page__lead {
    margin-bottom: 17px;
  }

  .care .what {
    background-color: #004482;
  }

  .footer {
    padding-top: 41px;
    padding-bottom: 80px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}